# Data and output files
src/data/
*.csv
*.pkl
*.joblib
*.parquet

# Python cache
__pycache__/
.ipynb_checkpoints/

# Environment files
.venv/
env/
titanic-env/
.conda/
environment.yml
.vscode/
.idea/

# System
.DS_Store